<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css/kendo")
    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <div role="main" id="main">
        @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/kendo")
        @Scripts.Render("~/bundles/core" )

        @RenderSection("scripts", required: false)
    </body>
</html>
